## MVP, DPY, ROY DATA GATHERING AND CLEANING

In [575]:
import pandas as pd
df = pd.read_csv("Mvp.csv")
#df = df.head(20)d
df.loc[0, "Player"] = 'Nikola Jokic' #fixing Jokic's name, replacing the accented c in jokic with a normal c
df = df[["Season", "Player"]].head(42) #using all Mvp winner since 1980
df['Player'] = df['Player'].str.replace(r'(\\.+)', '')
df['Season'] = df['Season'].str.replace(r'(-\d+)', '') #adjusting year values
df

<ipython-input-575-432e99f80d4b>:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Player'] = df['Player'].str.replace(r'(\\.+)', '')
<ipython-input-575-432e99f80d4b>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Season'] = df['Season'].str.replace(r'(-\d+)', '') #adjusting year values

   Season                 Player
0    2020           Nikola Jokic
1    2019  Giannis Antetokounmpo
2    2018  Giannis Antetokounmpo
3    2017           James Harden
4    2016      Russell Westbrook
5    2015          Stephen Curry
6    2014          Stephen Curry
7    2013           Kevin Durant
8    2012           LeBron James
9    2011           LeBron James
10   2010           Derrick Rose
11   2009           LeBron James
12   2008           LeBron James
13   2007            Kobe Bryant
14   2006          Dirk Nowitzki
15   2005             Steve Nash
16   2004             Steve Nash
17   2003          Kevin Garnett
18   2002             Tim Duncan
19   2001             Tim Duncan
20   2000          Allen Iverson
21   1999       Shaquille O'Neal
22   1998            Karl Malone
23   1997         Michael Jordan
24   1996            Karl Malone
25   1995         Michael Jordan
26   1994         David Robinson
27   1993        Hakeem Olajuwon
28   1992        Charles Barkley
29   1991         Michael Jordan
30   1990         Michael Jordan
31   1989          Magic Johnson
32   1988          Magic Johnson
33   1987         Michael Jordan
34   1986          Magic Johnson
35   1985             Larry Bird
36   1984             Larry Bird
37   1983             Larry Bird
38   1982           Moses Malone
39   1981           Moses Malone
40   1980          Julius Erving
41   1979    Kareem Abdul-Jabbar

In [576]:
from nba_api.stats.static import players
from nba_api.stats.endpoints import playergamelog
player_dict = players.get_players()

Mvp_id = []
Years_mvp = []
for ind in df.index:
    mid = df['Player'][ind]
    year = df['Season'][ind]
    Mvp_id.append(mid)
    Years_mvp.append(year)
print(Mvp_id, Years_mvp)

['Nikola Jokic', 'Giannis Antetokounmpo', 'Giannis Antetokounmpo', 'James Harden', 'Russell Westbrook', 'Stephen Curry', 'Stephen Curry', 'Kevin Durant', 'LeBron James', 'LeBron James', 'Derrick Rose', 'LeBron James', 'LeBron James', 'Kobe Bryant', 'Dirk Nowitzki', 'Steve Nash', 'Steve Nash', 'Kevin Garnett', 'Tim Duncan', 'Tim Duncan', 'Allen Iverson', "Shaquille O'Neal", 'Karl Malone', 'Michael Jordan', 'Karl Malone', 'Michael Jordan', 'David Robinson', 'Hakeem Olajuwon', 'Charles Barkley', 'Michael Jordan', 'Michael Jordan', 'Magic Johnson', 'Magic Johnson', 'Michael Jordan', 'Magic Johnson', 'Larry Bird', 'Larry Bird', 'Larry Bird', 'Moses Malone', 'Moses Malone', 'Julius Erving', 'Kareem Abdul-Jabbar'] ['2020', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008', '2007', '2006', '2005', '2004', '2003', '2002', '2001', '2000', '1999', '1998', '1997', '1996', '1995', '1994', '1993', '1992', '1991', '1990', '1989', '1988', '1987', '1986', '1985', '1984', '1983', '1982', '1981', '1980', '1979']

In [577]:
import pandas as pd
import time

vp_id = []
lenght = len(Mvp_id)
for i in range(lenght):
    name = Mvp_id[i]
    p = [player for player in player_dict if player['full_name'] == name][0]
    p_id = p['id']
    vp_id.append(p_id)
    time.sleep(1)
print(vp_id)

[203999, 203507, 203507, 201935, 201566, 201939, 201939, 201142, 2544, 2544, 201565, 2544, 2544, 977, 1717, 959, 959, 708, 1495, 1495, 947, 406, 252, 893, 252, 893, 764, 165, 787, 893, 893, 77142, 77142, 893, 77142, 1449, 1449, 1449, 77449, 77449, 76681, 76003]

In [763]:
what = []
for i in range(lenght):
    x = vp_id[i]
    y = Years_mvp[i]
    z = Mvp_id[i]
    gamelog_players = playergamelog.PlayerGameLog(player_id= x, season = y)
    time.sleep(.3)
    df_mvp = gamelog_players.get_data_frames()[0]
    df_mvp = df_mvp.astype({"Player_ID": object})
    df_mvp = df_mvp.replace({'Player_ID': x}, z)
    what.append(df_mvp)
    time.sleep(.3)
df_final1 = pd.concat(what, ignore_index=True)

In [764]:
df_final = df_final1
df_final

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22020,Nikola Jokic,0022001076,"MAY 16, 2021",DEN @ POR,L,17,9,17.0,0.529,...,2.0,3.0,2,1.0,0.0,1.0,3.0,21,-13,1
1,22020,Nikola Jokic,0022001054,"MAY 14, 2021",DEN @ DET,W,26,7,11.0,0.636,...,12.0,15.0,11,0.0,0.0,1.0,2.0,20,18,1
2,22020,Nikola Jokic,0022001052,"MAY 13, 2021",DEN @ MIN,W,32,14,21.0,0.667,...,8.0,14.0,4,1.0,1.0,2.0,2.0,31,8,1
3,22020,Nikola Jokic,0022000448,"MAY 11, 2021",DEN @ CHA,W,33,7,16.0,0.438,...,9.0,11.0,6,0.0,0.0,2.0,2.0,30,12,1
4,22020,Nikola Jokic,0022001015,"MAY 08, 2021",DEN vs. BKN,L,37,10,21.0,0.476,...,4.0,7.0,6,0.0,0.0,5.0,3.0,29,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3256,21979,Kareem Abdul-Jabbar,0027900058,"OCT 21, 1979",LAL vs. SEA,W,40,10,21.0,None,...,12.0,20.0,3,1.0,2.0,6.0,2.0,23,None,0
3257,21979,Kareem Abdul-Jabbar,0027900042,"OCT 19, 1979",LAL vs. POR,L,41,5,16.0,None,...,8.0,13.0,0,1.0,2.0,9.0,2.0,22,None,0
3258,21979,Kareem Abdul-Jabbar,0027900033,"OCT 17, 1979",LAL @ SEA,L,38,9,15.0,None,...,4.0,7.0,4,NaN,NaN,3.0,2.0,23,None,0
3259,21979,Kareem Abdul-Jabbar,0027900028,"OCT 16, 1979",LAL vs. CHI,W,36,7,9.0,None,...,10.0,10.0,2,0.0,4.0,1.0,5.0,21,None,0
3260,21979,Kareem Abdul-Jabbar,0027900008,"OCT 12, 1979",LAL @ SDC,W,39,13,22.0,None,...,6.0,10.0,4,2.0,4.0,4.0,2.0,29,None,0

In [765]:
df_final.fillna('0', inplace = True)
df_final =df_final.drop(columns =['Game_ID', 'VIDEO_AVAILABLE', 'PLUS_MINUS'])

In [766]:
df_final['SEASON_ID'] = df_final['SEASON_ID'].str[1:]
df_final

,SEASON_ID,Player_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,2020,Nikola Jokic,"MAY 16, 2021",DEN @ POR,L,17,9,17.0,0.529,0,...,1.0,1.0,2.0,3.0,2,1.0,0.0,1.0,3.0,21
1,2020,Nikola Jokic,"MAY 14, 2021",DEN @ DET,W,26,7,11.0,0.636,0,...,0.857,3.0,12.0,15.0,11,0.0,0.0,1.0,2.0,20
2,2020,Nikola Jokic,"MAY 13, 2021",DEN @ MIN,W,32,14,21.0,0.667,0,...,1.0,6.0,8.0,14.0,4,1.0,1.0,2.0,2.0,31
3,2020,Nikola Jokic,"MAY 11, 2021",DEN @ CHA,W,33,7,16.0,0.438,0,...,0.941,2.0,9.0,11.0,6,0.0,0.0,2.0,2.0,30
4,2020,Nikola Jokic,"MAY 08, 2021",DEN vs. BKN,L,37,10,21.0,0.476,0,...,1.0,3.0,4.0,7.0,6,0.0,0.0,5.0,3.0,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3256,1979,Kareem Abdul-Jabbar,"OCT 21, 1979",LAL vs. SEA,W,40,10,21.0,0,0,...,0.5,8.0,12.0,20.0,3,1.0,2.0,6.0,2.0,23
3257,1979,Kareem Abdul-Jabbar,"OCT 19, 1979",LAL vs. POR,L,41,5,16.0,0,0,...,0.571,5.0,8.0,13.0,0,1.0,2.0,9.0,2.0,22
3258,1979,Kareem Abdul-Jabbar,"OCT 17, 1979",LAL @ SEA,L,38,9,15.0,0,0,...,1.0,3.0,4.0,7.0,4,0,0,3.0,2.0,23
3259,1979,Kareem Abdul-Jabbar,"OCT 16, 1979",LAL vs. CHI,W,36,7,9.0,0,0,...,0.7,0.0,10.0,10.0,2,0.0,4.0,1.0,5.0,21
3260,1979,Kareem Abdul-Jabbar,"OCT 12, 1979",LAL @ SDC,W,39,13,22.0,0,0,...,0.75,4.0,6.0,10.0,4,2.0,4.0,4.0,2.0,29

In [529]:
df = pd.read_csv("Dpy.csv")
#df = df.head(20)d
#df.loc[0, "Player"] = 'Nikola Jokic' #fixing Jokic's name, replacing the accented c in jokic with a normal c
df = df[["Season", "Player"]] #using all Mvp winner since 1980
df['Player'] = df['Player'].str.replace(r'(\\.+)', '')
df['Season'] = df['Season'].str.replace(r'(-\d+)', '') #adjusting year values

DPY_id = []
Years_dpy = []
for ind in df.index:
    did = df['Player'][ind]
    year_dpy = df['Season'][ind]
    DPY_id.append(did)
    Years_dpy.append(year_dpy)
#print(Mvp_id, Years_mvp)

<ipython-input-529-6db5fa5185a6>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Player'] = df['Player'].str.replace(r'(\\.+)', '')
<ipython-input-529-6db5fa5185a6>:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Season'] = df['Season'].str.replace(r'(-\d+)', '') #adjusting year values

In [530]:
dp_id = []
lenght1 = len(DPY_id)
for i in range(lenght1):
    name = DPY_id[i]
    p = [player for player in player_dict if player['full_name'] == name][0]
    p_id = p['id']
    dp_id.append(p_id)

In [563]:
dpy_list = []
for i in range(lenght1):
    x = dp_id[i]
    y = Years_dpy[i]
    z = DPY_id[i]
    gamelog_players = playergamelog.PlayerGameLog(player_id= x, season = y)
    time.sleep(.5)
    df_dpy = gamelog_players.get_data_frames()[0] 
    df_dpy = df_dpy.astype({"Player_ID": object})
    df_dpy = df_dpy.replace({'Player_ID': x}, z)
    dpy_list.append(df_dpy)
    time.sleep(.3)
df_final_dpy1 = pd.concat(dpy_list, ignore_index=True)

In [564]:
df_final_dpy = df_final_dpy1
df_final_dpy

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22020,Rudy Gobert,0022001077,"MAY 16, 2021",UTA @ SAC,W,28,6,8,0.750,...,12.0,16.0,1,0.0,2,0.0,1,13,36,1
1,22020,Rudy Gobert,0022001056,"MAY 14, 2021",UTA @ OKC,W,27,5,9,0.556,...,12.0,18.0,1,1.0,2,1.0,1,16,20,1
2,22020,Rudy Gobert,0022001045,"MAY 12, 2021",UTA vs. POR,L,34,6,8,0.750,...,15.0,20.0,2,1.0,1,2.0,3,15,0,1
3,22020,Rudy Gobert,0022001030,"MAY 10, 2021",UTA @ GSW,L,31,4,6,0.667,...,12.0,15.0,1,0.0,0,3.0,1,10,3,1
4,22020,Rudy Gobert,0022001016,"MAY 08, 2021",UTA vs. HOU,W,31,6,9,0.667,...,12.0,14.0,1,1.0,3,4.0,4,13,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2946,21982,Sidney Moncrief,0028200045,"NOV 05, 1982",MIL vs. SDC,W,28,7,11,0.636,...,NaN,8.0,5,3.0,0,3.0,3,17,None,0
2947,21982,Sidney Moncrief,0028200039,"NOV 04, 1982",MIL @ ATL,W,34,5,10,0.500,...,6.0,8.0,3,0.0,1,2.0,1,11,None,0
2948,21982,Sidney Moncrief,0028200027,"NOV 02, 1982",MIL @ KCK,L,42,14,23,0.609,...,5.0,12.0,4,2.0,0,7.0,3,37,None,0
2949,21982,Sidney Moncrief,0028200019,"OCT 31, 1982",MIL @ CLE,W,22,2,5,NaN,...,1.0,3.0,6,1.0,1,2.0,3,12,None,0
2950,21982,Sidney Moncrief,0028200012,"OCT 30, 1982",MIL vs. NYK,W,35,2,7,0.286,...,NaN,5.0,6,2.0,0,4.0,1,9,None,0

In [565]:
df_final_dpy.fillna('', inplace = True)
df_final_dpy =df_final_dpy.drop(columns =['Game_ID', 'VIDEO_AVAILABLE', 'PLUS_MINUS']) 
df_final_dpy['SEASON_ID'] = df_final_dpy['SEASON_ID'].str[1:]
df_final_dpy[['MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS' ]] = df_final_roy[['MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS' ]].apply(pd.to_numeric)
df_final_dpy

,SEASON_ID,Player_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,2020,Rudy Gobert,"MAY 16, 2021",UTA @ SAC,W,22,1,6.0,0.167,0,...,1.000,2.0,4.0,6.0,7.0,0.0,2.0,4.0,2.0,4
1,2020,Rudy Gobert,"MAY 14, 2021",UTA @ OKC,W,29,5,9.0,0.556,0,...,0.500,1.0,9.0,10.0,6.0,2.0,1.0,6.0,6.0,14
2,2020,Rudy Gobert,"MAY 12, 2021",UTA vs. POR,L,31,7,10.0,0.700,0,...,0.333,2.0,5.0,7.0,9.0,4.0,1.0,3.0,3.0,16
3,2020,Rudy Gobert,"MAY 10, 2021",UTA @ GSW,L,36,12,17.0,0.706,0,...,0.600,3.0,12.0,15.0,13.0,4.0,1.0,3.0,4.0,27
4,2020,Rudy Gobert,"MAY 08, 2021",UTA vs. HOU,W,32,7,10.0,0.700,0,...,0.500,0.0,6.0,6.0,7.0,1.0,0.0,2.0,1.0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2946,1982,Sidney Moncrief,"NOV 05, 1982",MIL vs. SDC,W,31,5,10.0,NaN,0,...,0.400,NaN,NaN,13.0,0.0,0.0,1.0,NaN,3.0,12
2947,1982,Sidney Moncrief,"NOV 04, 1982",MIL @ ATL,W,0,7,NaN,NaN,0,...,1.000,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,16
2948,1982,Sidney Moncrief,"NOV 02, 1982",MIL @ KCK,L,34,4,8.0,NaN,0,...,0.333,4.0,9.0,13.0,0.0,NaN,NaN,3.0,5.0,9
2949,1982,Sidney Moncrief,"OCT 31, 1982",MIL @ CLE,W,19,0,3.0,NaN,0,...,0.000,0.0,8.0,8.0,1.0,1.0,0.0,3.0,5.0,0
2950,1982,Sidney Moncrief,"OCT 30, 1982",MIL vs. NYK,W,36,7,16.0,NaN,0,...,0.875,8.0,6.0,14.0,0.0,0.0,0.0,0.0,3.0,21

In [535]:
df = pd.read_csv("RoY.csv")
df.loc[71, "Player"] = 'Don Meineke'
df = df.drop([70,77])
df = df.iloc[3:43]
#df.loc[0, "Player"] = 'Nikola Jokic' #fixing Jokic's name, replacing the accented c in jokic with a normal c
df = df[["Season", "Player"]] #using all Mvp winner since 1980
df['Player'] = df['Player'].str.replace(r'(\\.+)', '')
df['Season'] = df['Season'].str.replace(r'(-\d+)', '') #adjusting year values
df['Player'] = df['Player'].str.replace('\(Tie\)', '')
df['Player'] = df['Player'].str.replace('\*', '')
df['Player'].replace(r"^ +| +$", r"", regex=True, inplace=True)

<ipython-input-535-0d7196cc39d5>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Player'] = df['Player'].str.replace(r'(\\.+)', '')
<ipython-input-535-0d7196cc39d5>:8: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Season'] = df['Season'].str.replace(r'(-\d+)', '') #adjusting year values
<ipython-input-535-0d7196cc39d5>:9: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Player'] = df['Player'].str.replace('\(Tie\)', '')
<ipython-input-535-0d7196cc39d5>:10: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Player'] = df['Player'].str.replace('\*', '')

In [536]:
ROY_id = []
Years_roy = []
for ind in df.index:
    rid = df['Player'][ind]
    year_roy = df['Season'][ind]
    ROY_id.append(rid)
    Years_roy.append(year_roy)
print(len(ROY_id), Years_roy)

40 ['2017', '2016', '2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008', '2007', '2006', '2005', '2004', '2003', '2002', '2001', '2000', '1999', '1999', '1998', '1997', '1996', '1995', '1994', '1994', '1993', '1992', '1991', '1990', '1989', '1988', '1987', '1986', '1985', '1984', '1983', '1982', '1981', '1980']

In [537]:
roy_id = []
lenght2 = len(ROY_id)
count = 0
for i in range(lenght2):
    name2 = ROY_id[i]
    p = [player for player in player_dict if player['full_name'] == name2][0]
    p_id = p['id']
    roy_id.append(p_id)
    #time.sleep(1)

In [566]:
roy_list = []
for i in range(lenght2):
    x = roy_id[i]
    y = Years_roy[i]
    z = ROY_id[i]
    gamelog_players = playergamelog.PlayerGameLog(player_id= x, season = y)
    time.sleep(.3)
    df_roy = gamelog_players.get_data_frames()[0] 
    df_roy = df_roy.astype({"Player_ID": object})
    df_roy = df_roy.replace({'Player_ID': x}, z)
    roy_list.append(df_roy)
    time.sleep(.3)
df_final_roy1 = pd.concat(roy_list, ignore_index=True)

In [568]:
df_final_roy = df_final_roy1
df_final_roy

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22017,Ben Simmons,0021701223,"APR 11, 2018",PHI vs. MIL,W,22,1,6.0,0.167,...,4.0,6.0,7.0,0.0,2.0,4.0,2.0,4,15,1
1,22017,Ben Simmons,0021701214,"APR 10, 2018",PHI @ ATL,W,29,5,9.0,0.556,...,9.0,10.0,6.0,2.0,1.0,6.0,6.0,14,-4,1
2,22017,Ben Simmons,0021701198,"APR 08, 2018",PHI vs. DAL,W,31,7,10.0,0.7,...,5.0,7.0,9.0,4.0,1.0,3.0,3.0,16,15,1
3,22017,Ben Simmons,0021701183,"APR 06, 2018",PHI vs. CLE,W,36,12,17.0,0.706,...,12.0,15.0,13.0,4.0,1.0,3.0,4.0,27,-3,1
4,22017,Ben Simmons,0021701169,"APR 04, 2018",PHI @ DET,W,32,7,10.0,0.7,...,6.0,6.0,7.0,1.0,0.0,2.0,1.0,16,-2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3036,21980,Darrell Griffith,0028000045,"OCT 18, 1980",UTH vs. DEN,W,32,9,17.0,None,...,0.0,0.0,3.0,3.0,0.0,6.0,1.0,22,None,0
3037,21980,Darrell Griffith,0028000031,"OCT 15, 1980",UTH vs. PHX,L,27,5,12.0,None,...,1.0,4.0,2.0,0.0,0.0,5.0,1.0,10,None,0
3038,21980,Darrell Griffith,0028000018,"OCT 12, 1980",UTH @ DEN,W,32,6,19.0,None,...,3.0,3.0,1.0,1.0,1.0,1.0,3.0,13,None,0
3039,21980,Darrell Griffith,0028000017,"OCT 11, 1980",UTH @ KCK,L,35,2,11.0,None,...,NaN,1.0,3.0,0.0,0.0,NaN,4.0,6,None,0
3040,21980,Darrell Griffith,0028000008,"OCT 10, 1980",UTH vs. POR,W,40,12,27.0,None,...,4.0,8.0,2.0,5.0,0.0,3.0,4.0,26,None,0

In [569]:
df_final_roy.isna().sum()

SEASON_ID             0
Player_ID             0
Game_ID               0
GAME_DATE             0
MATCHUP               0
WL                    0
MIN                   0
FGM                   0
FGA                   8
FG_PCT              141
FG3M                  0
FG3A                 71
FG3_PCT             404
FTM                   0
FTA                   0
FT_PCT                8
OREB                151
DREB                151
REB                   5
AST                   9
STL                 119
BLK                  68
TOV                 118
PF                    9
PTS                   0
PLUS_MINUS         1304
VIDEO_AVAILABLE       0
dtype: int64

In [570]:
df_final_roy = df_final_roy.drop(columns =['Game_ID', 'VIDEO_AVAILABLE', 'PLUS_MINUS'])

In [571]:
df_final_roy.fillna('0', inplace = True)
df_final_roy['SEASON_ID'] = df_final_roy['SEASON_ID'].str[1:]
df_final_roy[['MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS' ]] = df_final_roy[['MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS' ]].apply(pd.to_numeric)

In [718]:
df_final_roy

,SEASON_ID,Player_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,YEAR
0,2017,Ben Simmons,"APR 11, 2018",PHI vs. MIL,W,22,1,6.0,0.167,0,...,2.0,4.0,6.0,7.0,0.0,2.0,4.0,2.0,4,2017
1,2017,Ben Simmons,"APR 10, 2018",PHI @ ATL,W,29,5,9.0,0.556,0,...,1.0,9.0,10.0,6.0,2.0,1.0,6.0,6.0,14,2017
2,2017,Ben Simmons,"APR 08, 2018",PHI vs. DAL,W,31,7,10.0,0.700,0,...,2.0,5.0,7.0,9.0,4.0,1.0,3.0,3.0,16,2017
3,2017,Ben Simmons,"APR 06, 2018",PHI vs. CLE,W,36,12,17.0,0.706,0,...,3.0,12.0,15.0,13.0,4.0,1.0,3.0,4.0,27,2017
4,2017,Ben Simmons,"APR 04, 2018",PHI @ DET,W,32,7,10.0,0.700,0,...,0.0,6.0,6.0,7.0,1.0,0.0,2.0,1.0,16,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3036,1980,Darrell Griffith,"OCT 18, 1980",UTH vs. DEN,W,32,9,17.0,NaN,0,...,0.0,0.0,0.0,3.0,3.0,0.0,6.0,1.0,22,1980
3037,1980,Darrell Griffith,"OCT 15, 1980",UTH vs. PHX,L,27,5,12.0,NaN,0,...,3.0,1.0,4.0,2.0,0.0,0.0,5.0,1.0,10,1980
3038,1980,Darrell Griffith,"OCT 12, 1980",UTH @ DEN,W,32,6,19.0,NaN,0,...,0.0,3.0,3.0,1.0,1.0,1.0,1.0,3.0,13,1980
3039,1980,Darrell Griffith,"OCT 11, 1980",UTH @ KCK,L,35,2,11.0,NaN,0,...,NaN,NaN,1.0,3.0,0.0,0.0,NaN,4.0,6,1980
3040,1980,Darrell Griffith,"OCT 10, 1980",UTH vs. POR,W,40,12,27.0,NaN,0,...,4.0,4.0,8.0,2.0,5.0,0.0,3.0,4.0,26,1980

In [626]:
df_reg = pd.read_csv("Seasons_Stats.csv")
df_reg.dtypes
df_reg

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [777]:
df_reg = df_reg[['Year', 'Player', 'Age','MP' ,'FG' ,'PTS', 'AST', 'TRB', 'STL', 'BLK']]
df_reg = df_reg.iloc[5384:]
df_reg

,Year,Player,Age,MP,FG,PTS,AST,TRB,STL,BLK
5384,1979.0,Alvan Adams,24.0,2364.0,569.0,1369.0,360.0,705.0,110.0,63.0
5385,1979.0,Lucius Allen,31.0,413.0,69.0,157.0,44.0,46.0,21.0,6.0
5386,1979.0,Kim Anderson,23.0,224.0,24.0,63.0,15.0,45.0,4.0,5.0
5387,1979.0,Tiny Archibald*,30.0,1662.0,259.0,760.0,324.0,103.0,55.0,6.0
5388,1979.0,Tate Armstrong,23.0,259.0,28.0,66.0,31.0,20.0,10.0,0.0
...,...,...,...,...,...,...,...,...,...,...
24686,2017.0,Cody Zeller,24.0,1725.0,253.0,639.0,99.0,405.0,62.0,58.0
24687,2017.0,Tyler Zeller,27.0,525.0,78.0,178.0,42.0,124.0,7.0,21.0
24688,2017.0,Stephen Zimmerman,20.0,108.0,10.0,23.0,4.0,35.0,2.0,5.0
24689,2017.0,Paul Zipser,22.0,843.0,88.0,240.0,36.0,125.0,15.0,16.0
24690,2017.0,Ivica Zubac,19.0,609.0,126.0,284.0,30.0,159.0,14.0,33.0

<span style="font-size:2em;">Mid Range vs. 3's</span>

shotseasons contains an array of ShotChartLeagueWide objects

In [1]:
#populating array of dataframes


from nba_api.stats.endpoints import shotchartleaguewide
import time
import matplotlib.pyplot as plt
import pandas as pd

i = 1996

shotseasons = []
while i < 2020:
    season = str(i) + "-" + str(i+1)[2:]
    shot = shotchartleaguewide.ShotChartLeagueWide(league_id="00", season=season)#goes back to 1996
    shotseasons.append(shot)
    time.sleep(0.5)
    i+=1

In [2]:
shotseasons[2].get_data_frames()[0]#up to index 23. 24 in total

,GRID_TYPE,SHOT_ZONE_BASIC,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,FGA,FGM,FG_PCT
0,League Averages,Above the Break 3,Back Court(BC),Back Court Shot,81,2,0.025
1,League Averages,Above the Break 3,Center(C),24+ ft.,3354,1046,0.312
2,League Averages,Above the Break 3,Left Side Center(LC),24+ ft.,6170,2035,0.330
3,League Averages,Above the Break 3,Right Side Center(RC),24+ ft.,6485,2222,0.343
4,League Averages,Backcourt,Back Court(BC),Back Court Shot,162,4,0.025
5,League Averages,In The Paint (Non-RA),Center(C),Less Than 8 ft.,13222,4721,0.357
6,League Averages,In The Paint (Non-RA),Center(C),8-16 ft.,3140,1248,0.397
7,League Averages,In The Paint (Non-RA),Left Side(L),8-16 ft.,1218,427,0.351
8,League Averages,In The Paint (Non-RA),Right Side(R),8-16 ft.,1195,420,0.351
9,League Averages,Left Corner 3,Left Side(L),24+ ft.,2346,886,0.378
10,League Averages,Mid-Range,Center(C),8-16 ft.,1379,618,0.448
11,League Averages,Mid-Range,Center(C),16-24 ft.,3917,1552,0.396
12,League Averages,Mid-Range,Left Side Center(LC),16-24 ft.,5028,1958,0.389
13,League Averages,Mid-Range,Left Side(L),16-24 ft.,6353,2479,0.390
14,League Averages,Mid-Range,Left Side(L),8-16 ft.,9914,3605,0.364
15,League Averages,Mid-Range,Right Side Center(RC),16-24 ft.,5169,2056,0.398
16,League Averages,Mid-Range,Right Side(R),8-16 ft.,8054,2825,0.351
17,League Averages,Mid-Range,Right Side(R),16-24 ft.,5864,2271,0.387
18,League Averages,Restricted Area,Center(C),Less Than 8 ft.,37930,22544,0.594
19,League Averages,Right Corner 3,Right Side(R),24+ ft.,2253,823,0.365

Get dataframes from ShotChartLeagueWide objects. Split into mid range and 3 point dataframes by year. Included year column index to associate dataframes by year.

In [3]:
df3pointers = []
dfmidrange = []
debug = 0

year = 1996
for frame in shotseasons:
    df3p = frame.get_data_frames()[0]
    dfmid = frame.get_data_frames()[0]
    df3p = df3p[df3p['SHOT_ZONE_BASIC'].str.contains("3")]
    dfmid = dfmid[dfmid["SHOT_ZONE_BASIC"].str.contains("Mid-Range")]
    df3p["year"] = str(year) + "-" + str(year+1)[2:]
    dfmid["year"] = str(year) + "-" + str(year+1)[2:]
    df3pointers.append(df3p)
    dfmidrange.append(dfmid)
    year+=1
    
df3pointers[8]

,GRID_TYPE,SHOT_ZONE_BASIC,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,FGA,FGM,FG_PCT,year
0,League Averages,Above the Break 3,Back Court(BC),Back Court Shot,129,5,0.039,2004-05
1,League Averages,Above the Break 3,Center(C),24+ ft.,6275,2171,0.346,2004-05
2,League Averages,Above the Break 3,Left Side Center(LC),24+ ft.,11825,4146,0.351,2004-05
3,League Averages,Above the Break 3,Right Side Center(RC),24+ ft.,11282,3991,0.354,2004-05
9,League Averages,Left Corner 3,Left Side(L),24+ ft.,5951,2239,0.376,2004-05
19,League Averages,Right Corner 3,Right Side(R),24+ ft.,5703,2217,0.389,2004-05

In [4]:
dfmidrange[8]

,GRID_TYPE,SHOT_ZONE_BASIC,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,FGA,FGM,FG_PCT,year
10,League Averages,Mid-Range,Center(C),16-24 ft.,7241,2945,0.407,2004-05
11,League Averages,Mid-Range,Center(C),8-16 ft.,2055,880,0.428,2004-05
12,League Averages,Mid-Range,Left Side Center(LC),16-24 ft.,10567,4286,0.406,2004-05
13,League Averages,Mid-Range,Left Side(L),16-24 ft.,10917,4304,0.394,2004-05
14,League Averages,Mid-Range,Left Side(L),8-16 ft.,11933,4456,0.373,2004-05
15,League Averages,Mid-Range,Right Side Center(RC),16-24 ft.,11133,4455,0.400,2004-05
16,League Averages,Mid-Range,Right Side(R),16-24 ft.,9358,3695,0.395,2004-05
17,League Averages,Mid-Range,Right Side(R),8-16 ft.,11023,4121,0.374,2004-05

In [5]:
for frame in df3pointers:
    frame["Total 3 pointers attempted"] = frame["FGA"].sum()
    frame["Total 3 pointers made"] = frame["FGM"].sum()
    
    
for frame in dfmidrange:
    frame["Total mid range shots attempted"] = frame["FGA"].sum()
    frame["Total mid range shots made"] = frame["FGM"].sum()

In [6]:
for frame in df3pointers:
    frame["Total 3 pointers percentage"] = frame["Total 3 pointers made"]/frame["Total 3 pointers attempted"]
    
for frame in dfmidrange:
    frame["Total mid range percentage"] = frame["Total mid range shots made"]/frame["Total mid range shots attempted"]

In [7]:
#df3pointers[5]

dfmidrange[5]

,GRID_TYPE,SHOT_ZONE_BASIC,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,FGA,FGM,FG_PCT,year,Total mid range shots attempted,Total mid range shots made,Total mid range percentage
10,League Averages,Mid-Range,Center(C),8-16 ft.,2163,905,0.418,2001-02,75634,29550,0.390697
11,League Averages,Mid-Range,Center(C),16-24 ft.,6234,2421,0.388,2001-02,75634,29550,0.390697
12,League Averages,Mid-Range,Left Side Center(LC),16-24 ft.,9383,3796,0.405,2001-02,75634,29550,0.390697
13,League Averages,Mid-Range,Left Side(L),16-24 ft.,10864,4280,0.394,2001-02,75634,29550,0.390697
14,League Averages,Mid-Range,Left Side(L),8-16 ft.,14011,5391,0.385,2001-02,75634,29550,0.390697
15,League Averages,Mid-Range,Right Side Center(RC),16-24 ft.,10295,4081,0.396,2001-02,75634,29550,0.390697
16,League Averages,Mid-Range,Right Side(R),8-16 ft.,12513,4657,0.372,2001-02,75634,29550,0.390697
17,League Averages,Mid-Range,Right Side(R),16-24 ft.,10171,4019,0.395,2001-02,75634,29550,0.390697

In [8]:
df3pointers[2]

,GRID_TYPE,SHOT_ZONE_BASIC,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,FGA,FGM,FG_PCT,year,Total 3 pointers attempted,Total 3 pointers made,Total 3 pointers percentage
0,League Averages,Above the Break 3,Back Court(BC),Back Court Shot,81,2,0.025,1998-99,20689,7014,0.339021
1,League Averages,Above the Break 3,Center(C),24+ ft.,3354,1046,0.312,1998-99,20689,7014,0.339021
2,League Averages,Above the Break 3,Left Side Center(LC),24+ ft.,6170,2035,0.330,1998-99,20689,7014,0.339021
3,League Averages,Above the Break 3,Right Side Center(RC),24+ ft.,6485,2222,0.343,1998-99,20689,7014,0.339021
9,League Averages,Left Corner 3,Left Side(L),24+ ft.,2346,886,0.378,1998-99,20689,7014,0.339021
19,League Averages,Right Corner 3,Right Side(R),24+ ft.,2253,823,0.365,1998-99,20689,7014,0.339021

In [9]:
dftotal3 = pd.concat(df3pointers)
dftotalmid = pd.concat(dfmidrange)

In [10]:
dftotal3 = dftotal3.set_index("year")
dftotalmid = dftotalmid.set_index("year")

In [11]:
dftotalmid

,GRID_TYPE,SHOT_ZONE_BASIC,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,FGA,FGM,FG_PCT,Total mid range shots attempted,Total mid range shots made,Total mid range percentage
year,,,,,,,,,,
1996-97,League Averages,Mid-Range,Center(C),16-24 ft.,7642,3084,0.404,79698,31993,0.401428
1996-97,League Averages,Mid-Range,Center(C),8-16 ft.,1772,748,0.422,79698,31993,0.401428
1996-97,League Averages,Mid-Range,Left Side Center(LC),16-24 ft.,10454,4280,0.409,79698,31993,0.401428
1996-97,League Averages,Mid-Range,Left Side(L),16-24 ft.,10350,4359,0.421,79698,31993,0.401428
1996-97,League Averages,Mid-Range,Left Side(L),8-16 ft.,14559,5685,0.390,79698,31993,0.401428
...,...,...,...,...,...,...,...,...,...,...
2019-20,League Averages,Mid-Range,Left Side(L),16-24 ft.,1675,671,0.401,27112,11017,0.406351
2019-20,League Averages,Mid-Range,Left Side(L),8-16 ft.,4731,1920,0.406,27112,11017,0.406351
2019-20,League Averages,Mid-Range,Right Side Center(RC),16-24 ft.,4123,1676,0.407,27112,11017,0.406351
2019-20,League Averages,Mid-Range,Right Side(R),16-24 ft.,1575,622,0.395,27112,11017,0.406351
2019-20,League Averages,Mid-Range,Right Side(R),8-16 ft.,4878,1979,0.406,27112,11017,0.406351

In [12]:
dftotal3 = dftotal3.filter(["Total 3 pointers attempted", "Total 3 pointers made", "Total 3 pointers percentage"])

dftotal3 = dftotal3.drop_duplicates()

In [13]:
dftotalmid = dftotalmid.filter(["Total mid range shots attempted", "Total mid range shots made", "Total mid range percentage"])

dftotalmid = dftotalmid.drop_duplicates()

In [14]:
df_total_shots = pd.merge(dftotal3, dftotalmid, left_index=True, right_index=True, how='outer')

cols = [0, 3]

df_total_shots

,Total 3 pointers attempted,Total 3 pointers made,Total 3 pointers percentage,Total mid range shots attempted,Total mid range shots made,Total mid range percentage
year,,,,,,
1996-97,21448,7561,0.352527,79698,31993,0.401428
1997-98,31628,11000,0.347793,73521,28615,0.389209
1998-99,20689,7014,0.339021,45678,17364,0.380139
1999-00,34413,12226,0.355273,78892,31090,0.394083
2000-01,34347,12243,0.356450,76947,30054,0.390581
2001-02,37047,13154,0.355062,75634,29550,0.390697
2002-03,37472,13230,0.353064,75728,29223,0.385894
2003-04,37654,13134,0.348808,72162,27500,0.381087
2004-05,41165,14769,0.358776,74227,29142,0.392606
2005-06,41931,15129,0.360807,71316,28371,0.397821
2006-07,44087,15904,0.360741,68885,27412,0.397939
2007-08,46973,17141,0.364912,70404,28233,0.401014
2008-09,47259,17474,0.369750,68070,27320,0.401352
2009-10,47212,16884,0.357621,66911,26798,0.400502
2010-11,46686,16852,0.360965,65681,26272,0.399994
2011-12,39036,13667,0.350113,52783,20430,0.387056
2012-13,52093,18797,0.360835,60849,23832,0.391658
2013-14,56432,20448,0.362348,58505,23109,0.394992
2014-15,58797,20702,0.352093,56822,22400,0.394214
2015-16,63037,22460,0.356299,54412,21667,0.398203
2016-17,70283,25321,0.360272,49167,19778,0.402262
2017-18,75587,27490,0.363687,42733,17206,0.402640
2018-19,83512,29752,0.356260,35532,14317,0.402933
2019-20,77752,27994,0.360042,27112,11017,0.406351

<span style="font-size:2em;">Shot Takers</span>

In [19]:
position3_df = pd.read_csv("Seasons_Stats.csv")

In [20]:
position3_df = position3_df[position3_df.Year > 1979]

position3_df

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
5727,5727,1980.0,Kareem Abdul-Jabbar*,C,32.0,LAL,82.0,NaN,3143.0,25.3,...,0.765,190.0,696.0,886.0,371.0,81.0,280.0,297.0,216.0,2034.0
5728,5728,1980.0,Tom Abernethy,PF,25.0,GSW,67.0,NaN,1222.0,11.0,...,0.683,62.0,129.0,191.0,87.0,35.0,12.0,39.0,118.0,362.0
5729,5729,1980.0,Alvan Adams,C,25.0,PHO,75.0,NaN,2168.0,19.2,...,0.797,158.0,451.0,609.0,322.0,108.0,55.0,218.0,237.0,1118.0
5730,5730,1980.0,Tiny Archibald*,PG,31.0,BOS,80.0,80.0,2864.0,15.3,...,0.830,59.0,138.0,197.0,671.0,106.0,10.0,242.0,218.0,1131.0
5731,5731,1980.0,Dennis Awtrey,C,31.0,CHI,26.0,NaN,560.0,7.4,...,0.640,29.0,86.0,115.0,40.0,12.0,15.0,27.0,66.0,86.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

Some players have primary and secondary position designations i.e SG-SF. We only want to extract the primary position of the player. I decided to extract the first two characters of the Pos column because 4 of the 5 positions(PG, SG,SF,PF). For players with a center(C), if they have a secondary designation, my method extracts the string "C-". This was quickly remedied by replacing "C-" with C

In [21]:
position3_df["Pos"].value_counts()

PF       3945
C        3765
PG       3753
SG       3691
SF       3572
PG-SG      28
SF-SG      27
C-PF       26
SG-SF      25
SG-PG      25
PF-C       23
PF-SF      22
SF-PF      20
SG-PF       3
C-SF        1
PG-SF       1
Name: Pos, dtype: int64

In [22]:
position3_df["Pos"] = position3_df["Pos"].str[:2]

In [23]:
position3_df["Pos"].value_counts()

PF    3990
PG    3782
C     3765
SG    3744
SF    3619
C-      27
Name: Pos, dtype: int64

In [24]:
position3_df["Pos"].replace({"C-": "C"}, inplace=True)

In [25]:
seasons_dfs = []
season = 1980

while season <= 2017:
    df = position3_df[position3_df["Year"] == season]
    seasons_dfs.append(df)
    season+=1

In [26]:
seasons_dfs[2]

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
6449,6449,1982.0,Kareem Abdul-Jabbar*,C,34.0,LAL,76.0,76.0,2677.0,23.4,...,0.706,172.0,487.0,659.0,225.0,63.0,207.0,230.0,224.0,1818.0
6450,6450,1982.0,Alvan Adams,C,27.0,PHO,79.0,75.0,2393.0,18.6,...,0.781,138.0,448.0,586.0,356.0,114.0,78.0,196.0,269.0,1196.0
6451,6451,1982.0,Mark Aguirre,SF,22.0,DAL,51.0,20.0,1468.0,17.3,...,0.680,89.0,160.0,249.0,164.0,37.0,22.0,135.0,152.0,955.0
6452,6452,1982.0,Danny Ainge,SG,22.0,BOS,53.0,1.0,564.0,10.1,...,0.862,25.0,31.0,56.0,87.0,37.0,3.0,53.0,86.0,219.0
6453,6453,1982.0,Tiny Archibald*,PG,33.0,BOS,68.0,51.0,2167.0,14.3,...,0.747,25.0,91.0,116.0,541.0,52.0,3.0,178.0,131.0,858.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6817,6817,1982.0,Mike Woodson,SG,23.0,KCK,76.0,74.0,2186.0,17.8,...,0.780,97.0,137.0,234.0,206.0,135.0,33.0,144.0,199.0,1221.0
6818,6818,1982.0,Orlando Woolridge,SF,22.0,CHI,75.0,12.0,1188.0,13.4,...,0.699,82.0,145.0,227.0,81.0,23.0,24.0,107.0,152.0,548.0
6819,6819,1982.0,Sam Worthen,PG,24.0,UTA,5.0,0.0,22.0,1.9,...,NaN,1.0,0.0,1.0,3.0,0.0,0.0,2.0,3.0,4.0
6820,6820,1982.0,Larry Wright,PG,27.0,DET,1.0,0.0,6.0,-17.2,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0
6821,6821,1982.0,Rich Yonakor,PF,23.0,SAS,10.0,0.0,70.0,20.4,...,0.714,13.0,14.0,27.0,3.0,1.0,2.0,2.0,7.0,33.0

When a player is traded, they get at least three rows. One row is the total stats for the seasons and the other rows are the total stats for each of the teams that they played on during the season. We just wanted the total stats for the season but we couldn't drop duplicates by player name from the total dataframe because we would be erasing the later seasons that the player has played if they had a multiple year career. We decided to create an array of dataframes by season. For each season's dataframe, we dropped the duplicates and combined them back into one big dataframe.

In [27]:

clean_df = []


for df in seasons_dfs:
    df["Player"] = df["Player"].drop_duplicates()
    df = df[df['Player'].notna()]
    clean_df.append(df)

<ipython-input-27-1fdee31cb844>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Player"] = df["Player"].drop_duplicates()

In [28]:
total_clean_df = pd.concat(clean_df, ignore_index=True)

In [29]:
total_clean_df

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,5727,1980.0,Kareem Abdul-Jabbar*,C,32.0,LAL,82.0,NaN,3143.0,25.3,...,0.765,190.0,696.0,886.0,371.0,81.0,280.0,297.0,216.0,2034.0
1,5728,1980.0,Tom Abernethy,PF,25.0,GSW,67.0,NaN,1222.0,11.0,...,0.683,62.0,129.0,191.0,87.0,35.0,12.0,39.0,118.0,362.0
2,5729,1980.0,Alvan Adams,C,25.0,PHO,75.0,NaN,2168.0,19.2,...,0.797,158.0,451.0,609.0,322.0,108.0,55.0,218.0,237.0,1118.0
3,5730,1980.0,Tiny Archibald*,PG,31.0,BOS,80.0,80.0,2864.0,15.3,...,0.830,59.0,138.0,197.0,671.0,106.0,10.0,242.0,218.0,1131.0
4,5731,1980.0,Dennis Awtrey,C,31.0,CHI,26.0,NaN,560.0,7.4,...,0.640,29.0,86.0,115.0,40.0,12.0,15.0,27.0,66.0,86.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15515,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
15516,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
15517,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
15518,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
15519,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [30]:
position3_df["Pos"].value_counts()
position3_df.groupby("Pos")["3PA"].sum()

Pos
C      27274.0
PF    133992.0
PG    349629.0
SF    300180.0
SG    392767.0
Name: 3PA, dtype: float64

In [31]:


#df80s = position3_df.loc[position3_df["Year"].str.contains("198")]

position3_df['Year'] = position3_df['Year'].astype(str)

df80s = position3_df.loc[position3_df["Year"].str.contains("198")]#3 point line introduced in 1980

df90s = position3_df.loc[position3_df["Year"].str.contains("199")]

df00s = position3_df.loc[position3_df["Year"].str.contains("200")]

df10s = position3_df.loc[position3_df["Year"].str.contains("201")]

Champion data

In [36]:
from nba_api.stats.endpoints import shotchartleaguewide
season = '2019-20'
shot = shotchartleaguewide.ShotChartLeagueWide(league_id= "00", season = '2019-20')#only goes back to 1996
df3 = shot.get_data_frames()[0]#make an array of ShotChartLeagueWide objects?

shotseasons

df3[df3['SHOT_ZONE_BASIC'].str.contains("3")]

,GRID_TYPE,SHOT_ZONE_BASIC,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,FGA,FGM,FG_PCT
0,League Averages,Above the Break 3,Back Court(BC),Back Court Shot,46,6,0.130
1,League Averages,Above the Break 3,Center(C),24+ ft.,16180,5602,0.346
2,League Averages,Above the Break 3,Left Side Center(LC),24+ ft.,22539,8051,0.357
3,League Averages,Above the Break 3,Right Side Center(RC),24+ ft.,21167,7396,0.349
9,League Averages,Left Corner 3,Left Side(L),24+ ft.,9185,3660,0.398
19,League Averages,Right Corner 3,Right Side(R),24+ ft.,8635,3279,0.380

There wasn't any indicator of whether a playoff team won a championship so I just created an array for the names of all champions since 1996

<span style="font-size:2em;">The Champions</span>

In [37]:
from nba_api.stats.endpoints import leaguedashteamstats

champion_name = ["Chicago Bulls", "Chicago Bulls", "San Antonio Spurs",
                 "Los Angeles Lakers", "Los Angeles Lakers", "Los Angeles Lakers",
                 "San Antonio Spurs", "Detroit Pistons", "San Antonio Spurs",
                 "Miami Heat", "San Antonio Spurs", "Boston Celtics", 
                 "Los Angeles Lakers", "Los Angeles Lakers", "Dallas Mavericks",
                 "Miami Heat", "Miami Heat", "San Antonio Spurs", "Golden State Warriors",
                 "Cleveland Cavaliers", "Golden State Warriors", "Golden State Warriors", 
                 "Toronto Raptors", "Los Angeles Lakers","Milwaukee Bucks"]

Populates playoffs_df with dataframes. Each dataframe contains playoff statistics for every playoff team of the given year

In [38]:
i = 1996

playoffs_df = []

while i < 2020:
    year = str(i) + "-" + str(i+1)[2:]
    leaguestats = leaguedashteamstats.LeagueDashTeamStats(season_type_all_star='Playoffs', season=year)
    playoffs_df.append(leaguestats)
    time.sleep(1)
    i+=1

For each dataframe in dataframe array, filter out TEAM_NAME, FG3M AND FG3A columns

In [39]:
filtered_playoffs_df = []

for frame in playoffs_df:
    temp = frame.get_data_frames()[0]
    temp = temp.filter(["TEAM_NAME","FG3M", "FG3A"], axis=1)
    filtered_playoffs_df.append(temp)
    

filtered_playoffs_df[1]

                 TEAM_NAME  FG3M  FG3A
0            Atlanta Hawks    27    72
1        Charlotte Hornets    32   100
2            Chicago Bulls    88   272
3      Cleveland Cavaliers     7    24
4          Houston Rockets    24    93
5           Indiana Pacers    87   232
6       Los Angeles Lakers    78   227
7               Miami Heat    36   100
8   Minnesota Timberwolves    37    98
9          New Jersey Nets     7    22
10         New York Knicks    53   136
11            Phoenix Suns    17    51
12  Portland Trail Blazers    23    61
13       San Antonio Spurs    35   116
14     Seattle SuperSonics    66   192
15               Utah Jazz    66   187

In [40]:
just_champs_df = []
index = 0

for frame in filtered_playoffs_df:
    filt = frame[frame["TEAM_NAME"] == champion_name[index]]
    index+=1
    just_champs_df.append(filt)
    
total_just_champs = pd.concat(just_champs_df)

total_just_champs = total_just_champs.set_index("TEAM_NAME") #TODO graphs